In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0

In [4]:
data.shape

(2016, 8)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 8 columns):
beds              2016 non-null int64
baths             2016 non-null float64
size              2016 non-null float64
size_units        2016 non-null object
lot_size          1669 non-null float64
lot_size_units    1669 non-null object
zip_code          2016 non-null int64
price             2016 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 126.1+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

3     645
2     560
4     398
1     256
5     123
6      22
9       5
7       3
8       2
15      1
14      1
Name: beds, dtype: int64
********************
2.0    627
1.0    493
2.5    282
3.0    198
3.5    179
1.5    137
4.0     37
4.5     21
5.0     16
5.5     13
6.0      5
7.0      4
6.5      1
9.0      1
0.5      1
8.5      1
Name: baths, dtype: int64
********************
2080.0    12
1580.0    11
1440.0    11
1460.0    11
1370.0    11
1670.0    11
1720.0    10
2600.0    10
1470.0    10
1540.0    10
1400.0    10
1170.0    10
1350.0    10
1660.0    10
1620.0    10
1060.0    10
1760.0    10
1810.0    10
1740.0     9
1730.0     9
1380.0     9
1550.0     9
1800.0     8
2320.0     8
2040.0     8
2220.0     8
2380.0     8
1220.0     8
900.0      8
1320.0     8
          ..
5020.0     1
4260.0     1
4006.0     1
1429.0     1
1503.0     1
1889.0     1
2070.0     1
2787.0     1
865.0      1
1878.0     1
1076.0     1
1596.0     1
468.0      1
3556.0     1
1302.0     1
3488.0     1
883.0      1
3280.0     1
3680.0     1
1448.0     1
1288.0     1
2777.0     1
1174.0     1
904.0      1
748.0      1
938.0      1
1968.0     1
500.0      1
570.0      1
2247.0     1
Name: size, Length: 879, dtype: int64
********************
sqft    2016
Name: size_units, dtype: int64
********************
5000.00    61
4000.00    45
6000.00    38
1.00       26
4800.00    16
7200.00    14
3600.00    13
3000.00    13
6250.00    12
5100.00    12
5500.00    12
4500.00    11
4080.00    11
0.24       10
7500.00    10
0.27       10
0.29       10
0.25        9
0.35        9
3060.00     9
0.28        8
0.31        8
8000.00     8
5250.00     8
4400.00     8
5400.00     8
0.23        8
6120.00     7
8100.00     7
5750.00     7
           ..
6396.00     1
1498.00     1
3146.00     1
6161.00     1
2613.00     1
6772.00     1
2.23        1
1418.00     1
4656.00     1
1030.00     1
5136.00     1
4380.00     1
1532.00     1
649.00      1
3349.00     1
6925.00     1
6615.00     1
2295.00     1
1187.00     1
8070.00     1
4.66        1
3797.00     1
6075.00     1
1423.00     1
4900.00     1
9065.00     1
7653.00     1
5020.00     1
1249.00     1
8030.00     1
Name: lot_size, Length: 959, dtype: int64
********************
sqft    1449
acre     220
Name: lot_size_units, dtype: int64
********************
98115    170
98103    166
98117    151
98144    113
98122    109
98118    100
98116     88
98107     83
98126     80
98106     78
98125     78
98105     73
98199     72
98119     70
98133     61
98109     61
98136     60
98102     60
98121     59
98112     57
98178     44
98168     44
98146     41
98108     33
98177     27
98101     23
98104     14
98164      1
Name: zip_code, dtype: int64
********************
750000.0     27
700000.0     25
850000.0     23
950000.0     20
900000.0     19
675000.0     19
1000000.0    18
800000.0     18
500000.0     17
875000.0     17
650000.0     16
625000.0     15
725000.0     15
1150000.0    14
575000.0     14
600000.0     13
1350000.0    13
475000.0     13
525000.0     13
1050000.0    13
825000.0     13
1500000.0    13
1200000.0    13
640000.0     12
760000.0     12
720000.0     12
925000.0     12
590000.0     11
780000.0     11
865000.0     10
             ..
1099970.0     1
159000.0      1
222000.0      1
528000.0      1
1280000.0     1
719950.0      1
1025100.0     1
220000.0      1
552000.0      1
290000.0      1
549950.0      1
598000.0      1
826500.0      1
1083000.0     1
1472500.0     1
2075000.0     1
2600000.0     1
532500.0      1
824500.0      1
718000.0      1
1735000.0     1
1181500.0     1
410000.0      1
1171600.0     1
959630.0      1
1055000.0     1
2900000.0     1
1354000.0     1
1247500.0     1
512000.0      1
Name: price, Length: 767, dtype: int64
********************

In [7]:
data.isna().sum()

beds                0
baths               0
size                0
size_units          0
lot_size          347
lot_size_units    347
zip_code            0
price               0
dtype: int64

In [8]:
data.drop(columns=['lot_size','lot_size_units'],inplace=True)

In [9]:
data.describe()

              beds        baths          size      zip_code         price
count  2016.000000  2016.000000   2016.000000   2016.000000  2.016000e+03
mean      2.857639     2.159970   1735.740575  98123.638889  9.636252e+05
std       1.255092     1.002023    920.132591     22.650819  9.440954e+05
min       1.000000     0.500000    250.000000  98101.000000  1.590000e+05
25%       2.000000     1.500000   1068.750000  98108.000000  6.017500e+05
50%       3.000000     2.000000   1560.000000  98117.000000  8.000000e+05
75%       4.000000     2.500000   2222.500000  98126.000000  1.105250e+06
max      15.000000     9.000000  11010.000000  98199.000000  2.500000e+07

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
beds          2016 non-null int64
baths         2016 non-null float64
size          2016 non-null float64
size_units    2016 non-null object
zip_code      2016 non-null int64
price         2016 non-null float64
dtypes: float64(3), int64(2), object(1)
memory usage: 94.6+ KB

In [11]:
data['beds'].value_counts()

3     645
2     560
4     398
1     256
5     123
6      22
9       5
7       3
8       2
15      1
14      1
Name: beds, dtype: int64

In [12]:
data.head()

   beds  baths    size size_units  zip_code      price
0     3    2.5  2590.0       sqft     98144   795000.0
1     4    2.0  2240.0       sqft     98106   915000.0
2     4    3.0  2040.0       sqft     98107   950000.0
3     4    3.0  3800.0       sqft     98199  1950000.0
4     2    2.0  1042.0       sqft     98102   950000.0

In [13]:
data['price_per_sqft'] = data['price'] * 100000 / data['size']

In [14]:
data['price_per_sqft']

0       3.069498e+07
1       4.084821e+07
2       4.656863e+07
3       5.131579e+07
4       9.117083e+07
5       6.218487e+07
6       6.865672e+07
7       6.984479e+07
8       3.717105e+07
9       2.987179e+07
10      6.810606e+07
11      5.833333e+07
12      3.757530e+07
13      5.701887e+07
14      5.195312e+07
15      6.108389e+07
16      5.147059e+07
17      6.000000e+07
18      5.884331e+07
19      4.927099e+07
20      6.343844e+07
21      4.546477e+07
22      6.883117e+07
23      4.882812e+07
24      3.984375e+07
25      7.649044e+07
26      6.397638e+07
27      3.884395e+07
28      4.536000e+07
29      6.527778e+07
            ...
1986    5.068493e+07
1987    7.231405e+07
1988    5.278846e+07
1989    3.246753e+07
1990    3.909091e+07
1991    6.633499e+07
1992    3.949176e+07
1993    5.260907e+07
1994    5.231638e+07
1995    3.283364e+07
1996    5.166667e+07
1997    8.545930e+07
1998    9.649299e+07
1999    4.002001e+07
2000    5.221519e+07
2001    8.119658e+07
2002    3.790984e+07
2003    6.950355e+07
2004    5.827221e+07
2005    4.754938e+07
2006    4.588796e+07
2007    6.321429e+07
2008    6.201080e+07
2009    4.017857e+07
2010    4.999643e+07
2011    6.642336e+07
2012    6.186727e+07
2013    5.373832e+07
2014    7.421384e+07
2015    3.853801e+07
Name: price_per_sqft, Length: 2016, dtype: float64

In [15]:
data.describe()

,beds,baths,size,zip_code,price,price_per_sqft
count,2016.000000,2016.000000,2016.000000,2016.000000,2.016000e+03,2.016000e+03
mean,2.857639,2.159970,1735.740575,98123.638889,9.636252e+05,5.915851e+07
std,1.255092,1.002023,920.132591,22.650819,9.440954e+05,8.327952e+07
min,1.000000,0.500000,250.000000,98101.000000,1.590000e+05,6.796117e+06
25%,2.000000,1.500000,1068.750000,98108.000000,6.017500e+05,4.452221e+07
50%,3.000000,2.000000,1560.000000,98117.000000,8.000000e+05,5.529762e+07
75%,4.000000,2.500000,2222.500000,98126.000000,1.105250e+06,6.595389e+07
max,15.000000,9.000000,11010.000000,98199.000000,2.500000e+07,3.424658e+09

In [16]:
data.shape

(2016, 7)

In [17]:
data

      beds  baths    size size_units  zip_code      price  price_per_sqft
0        3    2.5  2590.0       sqft     98144   795000.0    3.069498e+07
1        4    2.0  2240.0       sqft     98106   915000.0    4.084821e+07
2        4    3.0  2040.0       sqft     98107   950000.0    4.656863e+07
3        4    3.0  3800.0       sqft     98199  1950000.0    5.131579e+07
4        2    2.0  1042.0       sqft     98102   950000.0    9.117083e+07
5        2    2.0  1190.0       sqft     98107   740000.0    6.218487e+07
6        1    1.0   670.0       sqft     98133   460000.0    6.865672e+07
7        5    3.5  4510.0       sqft     98105  3150000.0    6.984479e+07
8        3    2.5  1520.0       sqft     98108   565000.0    3.717105e+07
9        4    2.0  2340.0       sqft     98178   699000.0    2.987179e+07
10       3    2.0  1320.0       sqft     98103   899000.0    6.810606e+07
11       3    2.0  1800.0       sqft     98177  1050000.0    5.833333e+07
12       3    2.5  2490.0       sqft     98103   935625.0    3.757530e+07
13       4    3.0  2650.0       sqft     98115  1511000.0    5.701887e+07
14       5    1.5  2560.0       sqft     98199  1330000.0    5.195312e+07
15       2    1.5   900.0       sqft     98133   549755.0    6.108389e+07
16       3    3.5  1360.0       sqft     98103   700000.0    5.147059e+07
17       1    1.0   550.0       sqft     98122   330000.0    6.000000e+07
18       3    2.5  2974.0       sqft     98119  1750000.0    5.884331e+07
19       4    3.5  1989.0       sqft     98117   980000.0    4.927099e+07
20       2    2.0  1332.0       sqft     98199   845000.0    6.343844e+07
21       4    3.0  2668.0       sqft     98116  1213000.0    4.546477e+07
22       2    1.0   770.0       sqft     98133   530000.0    6.883117e+07
23       3    1.5  1280.0       sqft     98146   625000.0    4.882812e+07
24       5    3.5  3200.0       sqft     98133  1275000.0    3.984375e+07
25       2    1.5   889.0       sqft     98103   680000.0    7.649044e+07
26       1    1.0   508.0       sqft     98109   325000.0    6.397638e+07
27       3    2.0  3140.0       sqft     98117  1219700.0    3.884395e+07
28       4    2.0  2000.0       sqft     98125   907200.0    4.536000e+07
29       1    1.0   792.0       sqft     98101   517000.0    6.527778e+07
...    ...    ...     ...        ...       ...        ...             ...
1986     3    3.5  1460.0       sqft     98117   740000.0    5.068493e+07
1987     3    2.0  1210.0       sqft     98103   875000.0    7.231405e+07
1988     4    2.0  2080.0       sqft     98116  1098000.0    5.278846e+07
1989     4    2.0  3542.0       sqft     98144  1150000.0    3.246753e+07
1990     3    1.5  2200.0       sqft     98117   860000.0    3.909091e+07
1991     1    1.0   603.0       sqft     98133   400000.0    6.633499e+07
1992     2    2.0  1456.0       sqft     98199   575000.0    3.949176e+07
1993     2    2.5  1169.0       sqft     98117   615000.0    5.260907e+07
1994     2    1.0  1770.0       sqft     98103   926000.0    5.231638e+07
1995     4    2.0  1641.0       sqft     98118   538800.0    3.283364e+07
1996     1    1.0   600.0       sqft     98122   310000.0    5.166667e+07
1997     2    1.5   860.0       sqft     98122   734950.0    8.545930e+07
1998     4    3.5  4990.0       sqft     98112  4815000.0    9.649299e+07
1999     3    2.0  1749.0       sqft     98125   699950.0    4.002001e+07
2000     3    4.0  1580.0       sqft     98144   825000.0    5.221519e+07
2001     3    2.5  2340.0       sqft     98177  1900000.0    8.119658e+07
2002     6    3.0  2440.0       sqft     98144   925000.0    3.790984e+07
2003     1    1.0   705.0       sqft     98103   490000.0    6.950355e+07
2004     2    2.0  1227.0       sqft     98115   715000.0    5.827221e+07
2005     5    4.0  2734.0       sqft     98115  1300000.0    4.754938e+07
2006     2    2.0   839.0       sqft     98125   385000.0    4.588796e+07
2007     3    1.0  1120.0       sqft     98178   708000.0    6.321429e+07
2008     3    2.0  1482.0       sqft     98117   919000.0    6.201080e+07
2009     3    3.5  1680.0       sqft     98126   675000.0    4.017857e+07
2010     2    2.0  1400.0       sqft     98199   699950.0    4.999643e+07
2011     3    2.0  1370.0       sqft     98112   910000.0    6.642336e+07
2012     1    1.0   889.0       sqft     98121   550000.0    6.186727e+07
2013     4    2.0  2140.0       sqft     98199  1150000.0    5.373832e+07
2014     2    2.0   795.0       sqft     98103   590000.0    7.421384e+07
2015     3    2.0  1710.0       sqft     98133   659000.0    3.853801e+07

[2016 rows x 7 columns]

In [18]:
data.drop(columns=['price_per_sqft'],inplace=True)

In [19]:
data.head()

   beds  baths    size size_units  zip_code      price
0     3    2.5  2590.0       sqft     98144   795000.0
1     4    2.0  2240.0       sqft     98106   915000.0
2     4    3.0  2040.0       sqft     98107   950000.0
3     4    3.0  3800.0       sqft     98199  1950000.0
4     2    2.0  1042.0       sqft     98102   950000.0

In [20]:
data.to_csv("final_dataset.csv")

In [21]:
X=data.drop(columns=['price'])
y=data['price']

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [24]:
print(X_train.shape)
print(y_train.shape)

(1612, 5)
(1612,)

In [25]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['beds']), remainder='passthrough')

In [26]:
scaler = StandardScaler()

In [30]:
lr = LinearRegression(normalize=True)

In [31]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()